current user is {{ user }}

<p></p>
<form method="post">
    {% csrf_token %}
    <table>
        {# I can't loop over the BoundField items :( #}
        {% include "forum/django_example4_field.html" with field=form.name %}
        {% include "forum/django_example4_field.html" with field=form.description %}

        {% if user.contact.is_auditor or user.is_staff %}
            <tr>
                <th colspan="2">Audit</th>
            </tr>
        {% endif %}

        {% include "forum/django_example4_field.html" with field=form.last_audit %}
        {% include "forum/django_example4_field.html" with field=form.auditorm extra_css_class="audit" %}
        {% include "forum/django_example4_field.html" with field=form.auditor_notes extra_css_class="audit" %}
        {% include "forum/django_example4_field.html" with field=form.audit_complete extra_css_class="audit" %}
    </table>
    <input type="submit" value="Submit">
</form>
